* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #e1e1e1;
}

.container{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    background-color: #111;
}

.titulo{
    background-color: #111;
    color: #e1e1e1;
    padding: 10px;
    text-align: center;
}

.tela{
    background-color: #000;
    text-align: right;
    padding: 5px;
}

.MessageBox {
    position: relative;
    height: 0;
    width: 0;
    cursor: pointer;
    left: 410px;
}

.MessageBox .iconAlert {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    background-color: #e9e83c;
    border: solid 1px #aa0;
    text-align: center;
    padding: 2px 2px 3px 2px;
    font-weight: 800;
    margin-bottom: 10px;
}

.MessageBox .iconErro {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    background-color: #eb1d1d;
    border: solid 1px #a00;
    text-align: center;
    padding: 2px 2px 3px 2px;
    font-weight: 800;
    margin-bottom: 10px;
}

.iconErro a {
    color: white;
    text-decoration: none;
}

.MessageBox p{
    background-color: #111;
    color: #e1e1e1;
    z-index: 3;
    top: 10px;
    margin-top: 10px;
    width: 290px;
    padding: 7px;
    border-radius: 2px;
    text-align: center;
    display: none;
    opacity: 0.9;
    margin-bottom: 10px;
}

.MessageBox:hover p{
    display: block;
}

.valorTela{
    font-size: 1.5em;
    height: 30px;
}

.resultado{
    font-size: 2em;
    color: #fff;
}

.buttons-space{
    background-color: #111;
    margin-top: 5px;
}

.row{
    display: flex;
}

.btn{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #111;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}

.btn:hover{
    background-color: #333;
}

@media (max-width: 800px) {
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
    .container{
        width: 100vw;
        height: 100vh;
        padding: 0;
        border: none;
        background-color: #111;
        overflow: hidden;
        border-radius: 0;
    }

    .titulo {
        height: 8vh;
        width: 98vw;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tela {
        height: 8vh;
        min-height: 4em;
        width: 98vw;
        padding: 5px;
    }

    .tela p{
        overflow-x: scroll;
    }

    .buttons-space{
        height: 68vh;
        width: 98vw;
        padding: 1vh;
    }

    .btn{
        width: 24vw;
        height: 15.7vh;
        padding: 0;
    }

    .btn:hover{
        background-color: #111;
    }

    .MessageBox{
        left: 0;
    }

    .MessageBox p{
        background-color: #fff;
        color: #000;
    }
}

@media (max-height: 670px) {
    .btn{
        height: 15.3vh;
    }
}